/* customDatePicker.css */
.custom-datepicker .react-datepicker__month-container {
  font-size: 1.5rem; /* 放大日期字体 */
}

.custom-datepicker .react-datepicker__header {
  font-size: 1.5rem; /* 放大头部字体 */
}

.custom-datepicker .react-datepicker__day-name,
.custom-datepicker .react-datepicker__day,
.custom-datepicker .react-datepicker__time-name {
  font-size: 1.5rem; /* 放大日期和时间字体 */
}

.custom-datepicker .react-datepicker__input-container input {
  font-size: 1.5rem; /* 放大输入框字体 */
}
